<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>Hi,</p>
<p th:text="${inviterName} + ' would like to share a list with you.' "></p>
<span>
    It seems that you don't have an account yet. Click
    <a th:href="'http://localhost:8100/register?signUpFromEmail=true&listId=' + ${listId}"> here </a>
    to register.
</span>
<p>Regards,</p>
<p>Listack Team</p>
</body>
</html>